.progressBarContainer {
  width: 198px;
  height: 70px;
  background-color: var(--color-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 6px 12px;
  position: absolute;
  top: 225px;
  left: auto;
}

.progressBarTitle {
  font-size: 15px;
  font-weight: 700;
  color: var(--color-darkblue);
  margin: 0;
  margin-bottom: 18px;
}

.progressBarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.progressBarTrack {
  width: 100%;
  height: 6px;
  background-color: var(--color-lightgray);
  border-radius: 4px;
  position: relative;
}

.progressBarFill {
  height: 100%;
  background-color: var(--color-lightgreen);
  border-radius: 4px;
  transition: width var(--animation);
}

.progressBarThumb {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: fill 0.3s ease-in-out;
  pointer-events: none;
}

.progressBarThumbIcon {
  width: 100%;
  height: 100%;
}

.progressBarLabels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 10px;
  color: var(--color-blacksemi);
  margin-top: 8px;
  pointer-events: none;
}

.progressBarLabels span {
  width: 24px;
  text-align: center;
}

.currentProgress {
  font-family: Poppins;
  font-size: 10px;
  line-height: 18px;
  color: var(--color-lightgreen);
  pointer-events: none;
  position: absolute;
  top: -15px;
}

/* Планшетная версия */
@media (min-width: 768px) {
  .progressBarContainer {
    width: 295px;
    height: 106px;
    top: 322px;
    left: 205px;
    padding: 20px 20px;
  }

  .progressBarTitle {
    font-weight: 700;
    font-size: 15px;
    line-height: 149%;
  }

  .progressBarTrack {
    height: 8px;
  }
  .progressBarFill {
    height: 8px;
  }
  .progressBarThumb {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 20%;
  }
  .progressBarLabels {
    font-size: 12px;
  }
}

/* Десктопная версия */
@media (min-width: 1440px) {
  .progressBarContainer {
    width: 295px;
    height: 106px;
    padding: 20px;
    top: 450px;
    left: 188px;
  }
}
