.wrapper {
  width: 100%;
  position: relative;
}

.input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  height: 46px;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--color-darkblue);
  background-color: transparent;
  transition: border-color 1000 ease-in-out;
}

input::placeholder {
  color: rgba(38, 38, 38, 0.5);
}

.input:focus,
.input:hover {
  border-color: rgba(47, 47, 47, 0.4);
}

.input.red {
  border-color: var(--color-error);
}

.input:-webkit-autofill {
  color: var(--color-black) !important;
  -webkit-text-fill-color: var(--color-black) !important;
  box-shadow: 0 0 0px 1000px white inset;
}

.input:-webkit-autofill:focus {
  border: 1px solid rgba(47, 47, 47, 0.4);
}

.message {
  position: absolute;
  bottom: -12px;
  left: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
}

.label {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: var(--color-darkblue);
  display: block;
  margin-bottom: 8px;
}

.error {
  color: var(--color-error);
}

.eyeIconContainer {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 16px;
  /* transform: translateY(-5%); */
}

.eyeIcon {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: var(--color-darkblue);
}

.icon.shift {
  right: 10px;
}

@media screen and (min-width: 768px) {
  .label {
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.01em;
  }

  .input {
    height: 56px;
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--color-darkblue);
  }

  .message {
    font-size: 12px;
    line-height: 1.17;
    left: 16px;
    bottom: -16px;
  }
}
