.waterCard {
  width: auto;
  min-width: 149px;
  height: 74px;
  display: flex;
  align-items: center;
  /* gap: 10px; */
  background-color: var(--color-white);
  color: var(--color-darkblue);
  border-radius: 15px;
  flex-shrink: 0;
}

.iconGlassContainer {
  width: 38px;
  margin-left: 14px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconGlass {
  width: 100%;
  height: 100%;
}

.cardInfo {
  width: auto;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 6px; */
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  white-space: nowrap;
}

.volume {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: var(--color-darkblue);
  margin-bottom: 4px;
}

.time {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: rgba(47, 47, 47, 0.6);
}

.actions {
  width: 14px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-right: 14px;
}

.iconContainer {
  width: 14px;
  height: 14px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: var(--color-darkblue);
  transition: stroke 0.5s;
}

.iconContainer:hover .icon {
  stroke: var(--color-black);
}

@media (min-width: 768px) {
  .waterCard {
    min-width: 192px;
    height: 86px;
    /* padding: 20px; */
    /* gap: 20px; */
    padding-left: 0;
  }

  .iconGlassContainer {
    width: 44px;
    height: 45px;
    margin-left: 20px;
  }

  .cardInfo {
    min-width: 52px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    /* gap: 0; */
  }

  .volume {
    font-size: 15px;
    line-height: 149%;
    margin-bottom: 0;
  }

  .time {
    line-height: 187%;
  }

  .actions {
    width: 16px;
    height: 50px;
    margin-right: 20px;
    gap: 18px;
  }
  .iconContainer {
    width: 16px;
    height: 16px;
  }
}
