.logo {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -1px;
  color: var(--color-darkblue);
  text-decoration: none;
  transition: color var(--animation);
  position: absolute;
  top: 24px;
  left: 16px;
}

.logo:hover {
  color: var(--color-darkblue);
  text-decoration: none;
}

/* Планшетная версия */
@media (min-width: 768px)  {
  .logo {
    font-size: 24px;
    letter-spacing: -1px;
    top: 32px;
    left: 32px;
  }
}

/* Десктопная версия */
@media (min-width: 1440px) {
  .logo {
    top: 32px;
    left: 32px;
    width: 155px;
    height: 24px;
  }
}