.field {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  color: var(--color-darkblue);
  padding-bottom: 8px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.passwordWrapper {
  position: relative;
  width: 100%;
}

.togglePasswordButton {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: var(--color-darkblue);
  stroke-width: 1px;
}

.input {
  padding: 16px;
  font-size: 14px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  transition: border-color 0.3s;
  color: var(--color-black);
  width: 100%;
  padding-right: 40px;
}

.input:focus {
  border: 1px solid rgba(47, 47, 47, 0.4);
  outline: none;
}

.input:-webkit-autofill {
  color: var(--color-black) !important;
  -webkit-text-fill-color: var(--color-black) !important;
  box-shadow: 0 0 0px 1000px white inset;
}

.input:-webkit-autofill:focus {
  border: 1px solid rgba(47, 47, 47, 0.4);
}

.error {
  margin-top: 4px;
  font-size: 12px;
  color: #ff4d4f;
}

.errorInput {
  border-color: var(--color-error);
  color: var(--color-error);
}

@media (min-width: 768px) {
  .label {
    font-size: 16px;
  }
  .input {
    font-size: 16px;
  }
  .footer {
    font-size: 16px;
  }
}
