.advantagesDesktopOnly {
  display: none;
}

@media screen and (min-width: 1440px) {
  .advantagesDesktopOnly {
    display: block;
  }
  .ResetPasswordPage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}
