.advantagesDesktopOnly {
  display: none;
}

.SignInPage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  
}

@media screen and (min-width: 1440px) {
  .advantagesDesktopOnly {
    display: block;
  }
  .SignInPage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}

